# ========================
# Backend (Python/FastAPI)
# ========================

bandos-backend/venv/
bandos-backend/env/
bandos-backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class

# ========================
# Frontend (React/Vite)
# ========================

bandos-frontend/node_modules/
bandos-frontend/dist/
bandos-frontend/.env

# ========================
# Docker / Banco
# ========================

postgres_data/