# ========================
# Backend (Python/FastAPI)
# ========================
bandos-backend/venv/
bandos-backend/env/
bandos-backend/__pycache__/
bandos-backend/*.pyc
bandos-backend/.env

# ========================
# Frontend (React/Vite)
# ========================
bandos-frontend/node_modules/
bandos-frontend/dist/
bandos-frontend/.env

# ========================
# Banco de Dados / Docker
# ========================
postgres_data/