# ========================
# Python
# ========================

__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes virtuais
venv/
env/
.venv/

# Variáveis de ambiente
.env
.env.*

# Alembic
alembic/versions/__pycache__/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# VS Code
.vscode/

# JetBrains
.idea/

# ========================
# Frontend
# ========================

node_modules/
dist/
coverage/

# ========================
# Docker
# ========================

postgres_data/

# ========================
# Sistema
# ========================

.DS_Store
Thumbs.db